<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/menu/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Menu Item Name & Price:</br>
                    <input type="text" name="item_name" value="<%= locals.item_name %>" required>
                    <input type="text" name="item_price" value="<%= locals.item_price %>" required>
                </label></br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
    <link rel="stylesheet" href="/styles.css">
</html>